:root{
    --blue-light: #C1E8FF;
    --blue-mid-light: #7DA0CA;
    --blue-mid: #5483B3;
    --blue-strong: #052659;
    --blue-dark: #021024;

    --formal-white:#CCD0CF;
    --formal-grey:#9BA8AB;
    --formal-mid-grey:#4A5C6A;
    --formal-mid-black:#253745;
    --formal-blue-dark: #11212D;
    --formal-dark:#06141b;

    --text-title: 1.5em;
    --text-items: 1.2em;
    --text-normal: 1em;
}