:root{
    --blue-light: #C1E8FF;
    --blue-mid-light: #7DA0CA;
    --blue-mid: #5483B3;
    --blue-strong: #052659;
    --blue-dark: #021024;

    --formal-white:#CCD0CF;
    --formal-grey:#9BA8AB;
    --formal-mid-grey:#4A5C6A;
    --formal-mid-black:#253745;
    --formal-blue-dark: #11212D;
    --formal-dark:#06141b;

    --warning-message: #c93939;

    --text-title-hero: 5em;
    --text-subtitle: 2em;
    --text-title: 1.5em;
    --text-items: 1.2em;
    --text-normal: 1em;
    --text-medium: .9em;
    --text-small: .7em;

    --btn-radius: 15px;
    --box-small-radius: 10px;
    --box-mid-radius: 20px;
    --box-big-radius: 30px;

    --top-mobile-margin: 3.5em;
    --top-margin: .8em;
    --top-extra-margin: 2em;
    --right-margin: 3em;
    --right-small-margin: 1em;
    --bottom-margin: 1em;

}