@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.back-color{
    background-image: linear-gradient(to bottom, #06141b, #4a5c6a);
}

/*Textos */

.title-hero{
    font-size: var(--text-title-hero);
    color: var(--formal-mid-grey);
    text-shadow: 0 3px 3px var(--formal-dark);
}

.subtitle{
    font-size: var(--text-subtitle);
    color: var(--blue-dark);
    text-shadow: 0 1px 3px var(--blue-strong);
}

.title-nav{
    font-size: var(--text-title);
}

/*Botones*/

.btn-white{
    margin-top: 30px;
    border-radius: var(--btn-radius);
    background-color: var(--formal-white);
    padding: 10px;
    font-size: var(--text-title);
}


.btn-black{
    border-radius: var(--btn-radius);
    background-color: var(--blue-dark);
    font-size: var(--text-normal);
    padding: .5vh;
}

.btn-black-header{
    border-radius: var(--btn-radius);
    background-color: var(--blue-dark);
    font-size: var(--text-items);
    padding: .5vh 4vh;
    color: white;
}

/*Espacios de top extras para evitar elementos pegados con flex*/

.space-top{
    margin-top: var(--top-margin);
}

.aligner-center{
    text-align: center;
    margin-bottom: var(--bottom-margin);
}
